<h1>Edit</h1>
{{#card-item}}
    {{card-item/image img=user.image}}
    {{card-item/details user=model hideEdit=true}}
{{/card-item}}

{{#do-form buffer submit=(action 'updateUser') as |form|}}
    {{form.input-field 'firstName' label='First Name: ' classNames='form-row-control'}}
    {{form.input-field 'lastName' label='Last Name: ' classNames='form-row-control'}}
    {{form.input-field 'age' label='Age: ' controlType='number' classNames='form-row-control'}}
    {{form.input-field 'jobTitle' label='Job: ' classNames='form-row-control'}}
    {{form.input-field 'city' label='From: ' classNames='form-row-control'}}

    <button type='submit' class="save-btn">Update</button>
{{/do-form}}